<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      
      <a class="navbar-brand" routerLink="/">stms</a>
    </div>
    <div class="site-menu-wrapper">
        <ul class="site-menu">
            <li> <a routerLink="/providers" routerLinkActive="active">Providers</a></li>
            <li><a routerLink="/favorites">Favorites</a></li>
          </ul>
    </div>
    
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
<!-- Router Outlet -->

</div><!-- /.container -->