.navbar-header{float:left}
.navbar-inverse{background:#3eab1c}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{color:white}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a:hover{text-decoration: underline}
.navbar-brand{font-size:24px;text-decoration: none!important}


.site-menu-wrapper{margin-top:16px;float:left}
.site-menu-wrapper .site-menu{list-style:none;display:inline-block}
.site-menu-wrapper ul.site-menu li { display: inline; padding-right:8px}
.site-menu-wrapper .site-menu>li>a{color:white}
.site-menu-wrapper .site-menu>a:hover{text-decoration: underline}