<div class="row">
  <div class="col-md-12">
    <div class="selection-wrapper">
      <h3>My favorites</h3>
      <br>
      <table *ngIf="favArr.length > 0" class="table">
        <thead>
          <tr>
            <th>type</th>
            <th>name\title</th>
            <th>additional data</th>
            <th>Comment</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of favArr; let i = index">
              <td>{{item.type}}</td>
            <td>{{item.fld1}}</td>
            <td>{{item.fld2}}</td>
            <td>{{item.comment}}</td>
            <td><a href="javascript:void(0)" (click)="delFav(i,item)">Delete</a></td>
          </tr>
      
        </tbody>
      </table>
    </div>
  </div>
</div>
<simple-notifications></simple-notifications>